<center><img src="black-blue_logo.png" alt="Logo" style = "width:80%"></center>


<p>Welcome to DentalImager <%= @email %>!</p>

<p>To continue using DentalImager for longer than 1 day, you must confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks,</p>
<p>Patrick @ DentalImager</p>
