<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div class="center"><%= image_tag("logoBB.png", width: '200', height: '75') %></div>

</p>
            <hr>

  <div>         
      <div style="text-align: center;">
        <h4>Thanks for trying us out!</h4>
        <p>Now help us keep the lights on.  Dental Imager is just $9/per month* with unlimited use!
          <p style="color: gray;"><sup> *billed annually </sup></p>
<%= form_tag charges_path do %>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Dental Imager Subscription"
          data-amount="10800"
          ></script>
<% end %>     </h4>
        <p style="padding-top: 10px;"> There’s no risk and you can cancel anytime with a single click from your dashboard.</p><br>
      </div>
  </div>    
      <div class="modal-footer center">
          Having trouble?  Reach out to us at <a href="mailto:support@dentalimager.com">support@dentalimager.com</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>